*{
	font-family: Arial;
	padding: 0px;
	margin: 0px;
}

header{
	margin-bottom: 10px;
	text-align: center;
}

button{
	color: black;
}

footer{
	background-color: black;
	margin
}

p {
	display: inline;
}

table{
	border:black solid 3px;
	border-radius: 30px;
	width:60%;
	height: auto;
	text-align: center;
	margin:auto;
}

table p {
	margin-top: 5px;
}
.skillButton{
	border: none solid 2px;
	border-radius: 15px;
	width:300px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.skillButton p{
	display:block;
}

.skillButtonUnavailable{
	border-color:black;
	background-color: #888;
	color: black;
}

.skillButtonAvailable{
	border-color: rgb(0,0,255);
	background-color: rgb(150,150,255);
	color: black;
}

.skillButtonBought{
	border-color: rgb(0,255,0);
	background-color: rgb(150,255,150);
	color: black;
}

.navBar{
	margin-top: 5px;
	margin-bottom: 5px;
	border:black solid 2px;
}

.navBarButton{
	border:black solid 2px;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 70px;
	width:20%;
	font-size: 30px;
	background-color: #ccc;
}

.prestige{
	margin-top: 40px;
	margin-left: 37%;
	margin-right: 37%;
	border: black solid 2px;
	border-radius: 15px;
	text-align: center;

}

.prestige p{
	display: block;
}

.multiplier{
	position: absolute;
	left:25%;
}

.dimAmount{
	position: absolute;
	left:45%;
}

.dimGrowth {
	position: absolute;
	left:60%;
}

.buyButton{
	height: 40px;
	width: 15%;
	position: absolute;
	left: 70%;
	border: solid 2px ;
	border-radius: 15px;
}

.buy10Button{
	height: 40px;
	width: 11%;
	position: absolute;
	left: 87%;
	border: solid 2px;
	border-radius: 15px;
}

.buttonAvailable{
	border-color: green;
}
.buttonAvailable:hover{
	background-color: green;
}

.buttonUnavailable{
	border-color: red;
}

.buttonUnavailable:hover{
	background-color: red;
}

#skillPointCounter{
	font-size: 35px;
}

#antimatterPerSec{
	display: block;
	font-size: 10;
	color: grey;
}

#prestigeButton{
	border: none solid 1px;
	border-radius: 15px;
	height: 100px;
	width: 90%;
	margin:10px;
}

#buyAllButton{
	text-align: center;
	border: black solid 2px;
	border-radius: 15px;
	margin-top: 10px;
	width:16%;
	height:50px;
}

#dim {
	margin-top: 5px;
	border: #555 solid 2px;
	height: 40px;
	font-size: 35px;
}



#antimatterAmount{
	font-size: 30px;
}

#notationArea{
	background-color: #ddd;
	position: absolute;
	width: 20%;
	margin-left: 10%;
	margin-top: 10px;
	height:130px;
	border: black solid 1px;
	border-radius: 15px;
}

#scientificOption{
	display:block;
	font-size: 18px;
}

#standardOption{
	display: block;
	font-size: 18px;
}

#notationText{
	font-size: 25px;
}

#antimatterCounter {
	text-align: center;
	border: #555 solid 3px;
	border-radius: 15px;
	padding: 10px;
	width: 20%;
	margin: auto;
}